{% extends "home/base.html" %}
{% load static %}

{% block title %} Create Category {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">

        <form method="post" action="category_form" class="card w-50 text-center mt-5" autocomplete="off">

            {%csrf_token%}
            {%for field in form%}
            <label for="">Category</label>
            <input type="text" name="{{field.name}}" />
            <span class="text-error">{{ form_error }}</span>
            {%endfor%}
            <button type="submit" class="btn bg-outline-danger"> save</button>
        </form>

    </div>
</div>
{% endblock %}