{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section style="background-color: #f4f5f7;">
    <div class="container py-5 d-flex justify-content-center">
        <div class="w-75 card mb-3 rounded" >
            <div class="row g-0">
              <div class="col-12 col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="{{profileuser.get_profile_picture}}"
                  alt="Avatar" class="img-fluid my-5" style="width: 120px;" />
                <h4 class="text-dark">{{profileuser.fullname}}</h4>
                <p class="text-dark">@{{profileuser.username}}</p>
                <div class="brands d-flex justify-content-around w-50 mx-auto">
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa-brands fa-facebook"></i>
                    </button>
        
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa-brands fa-twitter"></i>
                    </button>
        
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa-brands fa-google"></i>
                    </button>
        
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa-brands fa-github"></i>
                    </button>
                </div>
                {% if profileuser.id is user.id %}
                <a href="{% url 'editprofile' pk=profileuser.id %}"><button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;"><i class="fa-solid fa-pen-to-square me-2"></i>Edit profile</button></a>
                {%endif%}
              </div>
              <div class="col-12 col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>{{profileuser.email}}</h6>
                      <p class="text-muted">Email</p>
                        {% if profileuser.mailactivated %}
                            <span class="badge bg-success">Activated</span>
                        {% endif %}
   
                    </div>
                    <div class="col-6 mb-3">
                      <h6>{{profileuser.phone}}</h6>
                      <p class="text-muted">Phone</p>
                    </div>
                  </div>
                  <div class="profile-section">
                    <h6>Projects</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Lorem ipsum</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">Dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <h6>Donations</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Lorem ipsum</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">Dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <h6>Reviews</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Lorem ipsum</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">Dolor sit amet</p>
                        </div>
                    </div>

              </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}