{% extends 'home/base.html' %}
{% block content %}

<div class="container my-5">
    <form class="user-form w-50 mx-auto" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-outline mb-3">
                {{ field.label_tag }}
                <p class="text-muted">Enter the email associated with your account</p>
                {{ field }}
            </div>
        {%endfor%}

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4 w-50">Send</button>
        </div>

    </form>
</div>

{% endblock %}