{% extends 'home/base.html' %}
{% block content %}

<div class="container my-5">

{% if validlink %}


<h3>Please enter your new password twice so we can verify you typed it in correctly.</h3>

    <form class="user-form my-5 w-50 mx-auto" method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <input hidden autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-outline mb-3">
                <div class="form-row field-password2">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="form-row field-password2">
                <div class="form-outline mb-3">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 w-50">Change my Password</button>
            </div>

        </fieldset>
    </form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>

{% endif %}
</div>

{% endblock %}