{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<div class="container my-5">
    <form id="signup-form" class="w-50 mx-auto" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-warning">
            {{ form.non_field_errors }}
        </div>
        {% for field in form %}
          <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                <div class="form-text">{{ field.help_text }}</div>
            </div>
        {%endfor%}
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mt-4 w-50">Sign up</button>
        </div>
    </form>
</div>

<script>
[...document.querySelectorAll('#signup-form div.mb-3 label')].map(e => {e.className="form-label"});
[...document.querySelectorAll('#signup-form div.mb-3 input')].map(e => {e.className="form-control"});
[...document.querySelectorAll('#signup-form div.mb-3 ul.errorlist li')].map(e => {e.className="text-danger"})
</script>


{% endblock %}