{% extends "home/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ project.title }}</h2>
            <p class="card-text">{{ project.details }}</p> 
            <p class="card-text">Project ID: {{ project.id }}</p> 
            <p class="card-text">Total Target: {{ project.total_target }}</p>
            <p class="card-text">Start Time: {{ project.start_time }}</p>
            <p class="card-text">End Time: {{ project.end_time }}</p>
            <p class="card-text">Category: {{ project.category }}</p>
            <p class="card-text">Created At: {{ project.created_at }}</p> 
            <p class="card-text">Project Owner: {{ project.user }}</p>
            <!-- Display other project details as needed -->
            <a class="btn bg-primary text-white" href="{% url 'project_detail' id=project.id %}">Show Details</a>
            <a class="btn bg-warning text-white" href="{% url 'edit_project' id=project.id %}">Edit Project</a>
            <a class="btn bg-danger text-white" href="{% url 'project_delete' id=project.id %}">Delete Project</a>
            
        </div>
    </div>

{% endblock %}