{% extends "home/base.html" %}



{% block content %}
<style>
    .float{
        position:fixed;
        bottom:40px;
        right:40px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        z-index: 5;
    }
    
    .my-float{
        margin-top:22px;
    }
    
</style>
<br>

    <div class="container mt-2 mb-5">
        {% if category %}
            <h2>Your are viewing all projects in {{category}} Category</h2>
        {% elif tag %}
            <h2>Your are viewing all projects with {{tag}} Tag</h2>
        {% elif search %}
            <h2>Search results for: {{search}}</h2>
        {% else %}
            {% if user %}
                <a href="{% url 'project_create' %}" class="float p-3 fs-5 rounded-pill bg-info text-decoration-none text-light">
                    <i class="fa fa-plus"></i> Add a new project
                </a>
            {%endif%}
            <h2>Explore all current projects</h2>
        {%endif%}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-2 overflow-hidden">
        {% for project in projects %}
        <div class="col">
            <div class="card position-relative mx-1 rounded" style="height: 550px;">
                {% include "projects/partials/projectinfo.html" with project=project inlist=1 %}
            </div>
        </div>

        {% endfor %}
        </div>
    </div>
{% endblock %}
