{% extends "home/base.html" %}

{% block content %}
<br>

    <div class="container">
        <a class="btn btn-primary w-100" href="{% url 'project_create' %}" style="margin-bottom: 10px;">Add Project</a>

        {% for project in projects %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ project.title }}</h2>
                <p class="card-text">Total Target: {{ project.total_target }}</p>
                <p class="card-text">Start Time : {{ project.start_time }}</p>
                <p class="card-text">End Time: {{ project.end_time }}</p>
                <p class="card-text">Project Owner: {{ project.user }}</p>
                <!-- Display other project details as needed -->
                <a class="btn bg-primary text-white" href="{% url 'project_detail' id=project.id %}">Show Details</a>
                <a class="btn bg-warning text-white" href="{% url 'edit_project' id=project.id %}">Edit Project</a>
                <a class="btn bg-danger text-white" href="{% url 'project_delete' id=project.id %}">Delete Project</a>

                <form>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <select class="form-select" id="rating" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
