<button type="button" class="float-end btn btn-outline-info" 
data-bs-toggle="modal" data-bs-target="#exampleModal">Add Review</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'create_review' pk=projectid %}">
            {% csrf_token %}
          <div class="mb-3">    
            <label for="recipient-name" class="col-form-label">Rate:</label>
            <div class="rating"> 
                <input type="radio" name="rate" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rate" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rate" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rate" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rate" value="1" id="1" checked><label for="1">☆</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea name="review" class="form-control" id="message-text" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Review</button>
          </div>
          

        </form>

        </form>
      </div>

    </div>
  </div>
</div>