<div class="review-card row m-1 border border-muted border-2 rounded p-3">  
    <div class="col-4 text-center d-flex flex-column align-items-center justify-content-center">
        <a href="{% url 'profile' pk=comment.user.id %}" class="text-decoration-none">
            <img style="width: 50px;" src="{{comment.user.get_profile_picture}}" alt="">
            <h6 class="m-0  text-dark">@{{comment.user}}</h6>
        </a>
    </div>  
    <div class="col-8">
        <a class="btn btn-outline-danger float-end" 
        href="{% url 'report_comment' comment.id %}?type=comment" style="margin: -10px -20px 0 0;">
            <i class="fa-regular fa-flag"></i></a>
        <div class="d-flex flex-column justify-content-between h-100">
            <p class="mb-2 pe-2 text-justify" style="text-align: justify;">{{comment.content}}</p>
            <p class="text-muted m-0"><i class="fa-regular fa-clock me-2"></i>{{comment.created_at.date}}</p>
        </div>

    </div>
</div>