
{% if user.is_superuser %}
    <a class="fs-3 position-absolute badge text-warning p-2 featured" 
    href="{%url 'feature' pk=project.id %}" style="right: 5px; z-index: 5; top:5px; background-color: rgba(255, 255, 255, 0.20);">
    {% if project.is_featured %}
      <i class="fa-solid fa-heart"></i>
    {% else %}
      <i class="fa-regular fa-heart"></i>
    {%endif%}
    </a>
{% endif %}
<a class="position-absolute m-2 badge bg-warning text-dark text-decoration-none"
  href="{%url 'category' category=project.category%}">{{project.category}}</a>

<a href="{% url 'project_detail' pk=project.id %}" class="h-50">
  <img src="{{project.thumbnail}}" class="card-img-top img-fluid h-100" alt="thumbnail"/></a>

<div class="card-body p-4">
  <h3 style="text-overflow: ellipsis" class="text-nowrap overflow-hidden">
    <a
      class="text-dark text-decoration-none"
      href="{% url 'project_detail' pk=project.id %}"
      >{{project.title}}</a
    >
  </h3>
  <p
    class="card-text text-nowrap overflow-hidden"
    style="text-overflow: ellipsis"
  >
    {{project.details}}
  </p>

  {% include "projects/partials/progressbar.html" with project=project %}

  <div class="mt-2 row w-100">
    <div class="col-6">
      {%if project.expired %}
      <span class="badge bg-warning text-light">Expired</span>
      {% else %}
      <span class="badge bg-success text-light">Active</span>
      {%endif%} {%if project.tags%} {% for tag in project.tags_array%}
      <a
        class="badge bg-info text-dark text-decoration-none"
        href="{% url 'tag' tag=tag%}"
        >{{ tag }}</a
      >
      {%endfor%} {%endif%}
      <p class="text-muted">{{project.created_at.date}}</p>
    </div>
    <div class="col-6 ps-3 pe-0" style="font-size: smaller;">
      <span class="text-muted float-end">({{project.reviews.all|length}})</span>
      {% include "projects/partials/starrating.html" with rates=project.rates%}
    </div>
  </div>
  {% if inlist %}
  <a
    type="button"
    class="btn btn-outline-dark"
    href="{% url 'profile' pk=project.user.id %}"
  >
    <img
      src="{{project.user.get_profile_picture}}"
      onerror="this.onerror=null;this.src='/media/account/images/annon.png';"
      alt="Avatar"
      class="img-fluid rounded-circle me-2"
      style="width: 25px"
    />
    {% if project.user.first_name%}{{project.user.first_name}}{%else%}{{project.user}}{%endif%}
  </a>
  <a
    href="{% url 'donate' pk=project.id %}"
    class="btn btn-success float-end fs-5 "
    >Donate Now</a
  >
  <br>
  {%endif%}
</div>
