{% extends 'home/base.html' %}
{% block content %}

<div class="container">
    <div class="row row-cols-2 m-5">
        <div class="col-6 d-flex justify-content-center align-items-center" style="border-right: 1px solid black;">
            <h1>Know more about us!</h1>
        </div>
        <div class="col-6 ps-5">
            <h2>Vision</h2>
            <p class="ps-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quaerat ducimus fuga asperiores, eos eum facilis optio numquam nisi rem adipisci. Odit officia a praesentium eaque, asperiores delectus atque nam!</p>
            <hr>
            <h2>Mission</h2>
            <p class="ps-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, sint? Cupiditate similique reprehenderit, optio ipsum alias accusantium exercitationem quis veniam nostrum, quibusdam officiis tenetur, vitae iusto non! Nam, dicta deserunt!</p>

        </div>
</div>
</div>

{% endblock %}

