{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowdFunder</title>
    <link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

    {% include 'home/partials/header.html' %}

    <main class="p-3">
        {% block content %} 
        {% endblock %}
    </main>

    {% include 'home/partials/footer.html'%}

    <script src="{% static 'home/bootstrap/js/bootstrap.js' %}"></script>   
    <script src="{% static 'home/js/metro.min.js' %}"></script>   
    <script src="{% static 'home/js/script.js' %}"></script>   
    
</body>
</html> 