{% extends 'home/base.html' %}
{% block content %}

<div class="container">
    <div class="row m-5">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <h1>Get in touch!</h1>
        </div>
        <div class="col-6">
            <h2>Email us:</h2>
            <p class="ps-5">crowdfunderdjango@gmail.com</p>
            <br>
            <h2>Phone</h2>
            <p class="ps-5">01204256689</p>
            <br>
            <h2>Address</h2>
            <p class="ps-5">7th Beautiful Avenue, Newyork</p>
        </div>
</div>
</div>

{% endblock %}

