{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<div class="container" id="Home">




  {% comment %} --------------------------------------- {% endcomment %}

    <div class="container join">
       

<h1 class="text-center"> Our 6 Highest Rated Projects </h1>  
   <!--  highest five rated running projects -->

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      {% for project in top_rated_projects %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}" data-bs-interval="10000">
        <img src="{% static project.thumbnail %}" style="height:450px; opacity:40%" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ project.title }}</h5>
          <p>Some representative placeholder content for the slide.</p>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% comment %} --------------------------------------------------------- {% endcomment %}



{% comment %} Categories Side Bar {% endcomment %}


<main >
  <div class="row" >
    <div class="col-md-8">
    
    </div>
    <div class="col-md-4"  style=" position: absolute;
                              right: 33px;
                              top: 145px;
                              width: 230px;">
      <div class="content-section" style="height:300px">
        <h3>Our Categories</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item">
              <button class="btn btn-dark" style="width:100%" href="#">
                Social
              </button>
            </li>
            <li class="list-group-item list-group-item-light" href="#">
                <button class="btn btn-light" style="width:100%" href="#">
                Humanitarian
              </button>
            </li>
            <li class="list-group-item list-group-item-light" href="#">
                <button class="btn btn-dark" style="width:100%" href="#">
                Health
              </button>
            </li>
            <li class="list-group-item list-group-item-light" href="#">
                <button class="btn btn-light" style="width:100%" href="#">
                Education
              </button>
            </li>
            <li class="list-group-item list-group-item-light" href="#">
                <button class="btn btn-dark" style="width:100%" href="#">
              Political
              </button>
            </li>
           
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>


{% comment %} ---------------------------------------- {% endcomment %}

  {% comment %} LIST OF THE LATEST 5 PROJECTS  {% endcomment %}

  <br> 
  <br> 
  <br> 
  <br> 
  <br>



 
  <h1 class="text-center">Our Latest 6 Projects</h1>

  <div class="container">
    {% if latest_projects %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-2 overflow-hidden">
      {% for project in latest_projects %}
      <div class="col">
        <div class="card position-relative mx-1" style="height: 60vh;">
            {% include "projects/partials/projectinfo.html" with project=project inlist=1 %}
        </div>
        <br> 
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center">No projects found.</h3>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary w-50 mx-auto" href="{% url 'project_create' %}" style="margin-bottom: 10px;">Add Project</a>
    </div>
    {% endif %}

</div>
{% comment %} ------------------------------------------------------------------ {% endcomment %}

{% comment %} - List of latest 5 featured projects (which are selected by the admin) 
- A list of the categories. User can open each category to view its projects {% endcomment %}




</div>
</div>

{% endblock %}