{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    /* Increase the size of the form fields */
    .form-control {
        height: 50px;
        font-size: 18px;
    }

    /* Move the submit button above the footer */
    .submit-button {
        margin-top: 8px;
    }
</style>

<h2 style="text-align: center">Edit Project</h2>
<div class="d-flex justify-content-center align-items-center bg-light" style="min-height: 100vh;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary text-white mr-3 submit-button">Edit Project</button>
    </form>
    
</div>
<br>
{% endblock %}



