* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

div.brands i {
    font-size: 30px;
}