* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background-color: antiquewhite; */
    background-color: #fdfdfdd6;
    background: url('../images/download.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px;
    background-color: #fdfdfdd6;
}   

/* Home Page Styling */


#home {
    position: relative;
    width: 100%;
    height: 730px;
    margin-top: -2rem;
    border-radius: 0.5rem;
    
}

a.start {
    position: absolute;
    font-WEIGHT: bold;
    top: 50%;
    left: 33%;
    font-size: 2rem;
    border-radius: 2rem;
    height: 7rem;
    line-height: 3;
    box-shadow: 0 0 11px;

}


#home.container.join {
    padding: 6rem;
    padding-left: 570px;
}

#home .btn-secondary {
    color: #07829b;
    background-color: #f8eaea00;
    border-color: #6c757d;
}

/* End of Home Page Styling */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

div.brands i {
    font-size: 30px;
}

button.btn.search:hover {
    background-color: rgb(145, 39, 39);
    
}